*{
	box-sizing: border-box;
}

body{
	margin: 15px 30px;
	font-family:"Arial","Times New Roman" ;
	font-size: 15px; 
	padding: 10px;
}

.container{
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 2px solid lightgray;
	border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],textarea,select{
	width: 100%;
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	margin: 12px;
}

fieldset{
	background-color: #fff;
	border: 2px solid #ccc;
}

.main_heading{
	text-align: center;
}

input[type="submit"]{
	background-color: #4daea1;
	color: white;
	padding: 10px 15px;
	border: none;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #4caf84;
	padding: 15px;
	font-size: 20px;
}